[features]
seeds = false
skip-lint = false

[programs.localnet]
favorites = "2sijG8W6LryZCM138e6eDL5ncr1QyxKtWKHYp9NVD58J"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
client = "yarn run ts-node client/*.ts"
